<h1>Petri Net Simulator Version 0.1</h1>
<h4>Petri Net <span id="petri_net_id"><%= @petri_net.id %></span>, Created <%= @petri_net.created_at %></h4>


<div id="buttons">
      <button id="place">Place</button>
      <button id="transition">Transition</button>
    </div>
<div id="canvas"></div>